@charset "ISO-8859-1";

.screen {
	border: solid 10px #292929;
	background-color: black;
	border-radius: 10px;
	box-shadow: 10px 10px 20px gray;
	width: 70%;
	height: 400px;
	margin: 20px auto 40px auto;
	
	font-family: consolas;
	font-size: 13px;
	color: #20fb00;
	padding: 10px;
	
	overflow: auto;
}

.exemples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.exemples > * {
	width: 100px;
	cursor: pointer;
	font-family: consolas;
	color: blue;
}

.exemples > *:hover {
	text-decoration: underline;
}